/*global style*/
p {
    font-family: sans-serif;
}

h3 {
    font-family: serif;
}

section {
    margin-bottom: 100px;
}

/*top-header style*/

.top-header-left h3 {
    font-weight: bold;
    font-size: 32px;
}

.top-header-left i {
    font-size: 46px;
    padding: 0px 5px;
    color: DARKBLUE;
}

.top-header-right {
    text-align: center;
    font-size: 18px;
    margin-top: 26px;
}

.top-header-right
 span {
    color: darkblue;
    font-weight: bold;
    font-size: 21px;
}

/*nav bar style*/

ul.nav.navbar-nav.navbar-right {
    font-size: 19px;
}

ul.nav.navbar-nav.navbar-right li a {
    color: whitesmoke;
    font-family: sans-serif;
}

nav.navbar.navbar-default {
    background: black;
    border: 0px;
    border-radius: 0px;
    padding: 0px 0px;
}

.navbar-nav>li {
    float: left;
    padding: 10px 5px;
}

ul.nav.navbar-nav.navbar-right>li:hover {
    background: white;
    transition: 0.4s;
}

ul.nav.navbar-nav.navbar-right>li {
    transition: 0.4s;
}

ul.nav.navbar-nav.navbar-right>li a {
    font-size: 18px;
}

ul.nav.navbar-nav.navbar-right>li:hover a {
    color: black;
    font-size: 18px;
}

/*slider carousel style*/

 .items{
    height: 487px;
 }

 .items img{
    height: 100%;
 }


.navbar{
    margin-bottom: 0px;
}

/*repair plans*/

.repair-divs:hover img{
    transform: scale(1.5)rotate(10deg);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.repair-divs:hover .repair-divs-img{
    border: solid 3px black;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.repair-divs img{
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.repair-divs-img{
    overflow: hidden;
}

.repair-divs .repair-divs-img{
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.repair-head {
    text-align: center;
}

.repair-head h1 {
    font-size: 42px;
    font-weight: bold;
}

.repair-head p {
    font-size: 22px;
    text-align: justify;
}

.repair-divs-img img {
    width: 80%;
    height: 100%;
    border: solid 3px black;
    border-radius: 6%;
}

.repair-divs-img {
    height: 230px;
    text-align: center;
}

.repair-divs {
    text-align: center;
    padding: 10px 50px;
    background-color: #E5E5FF;
    margin: 14px 0px;
}

.repair-divs p {
    text-align: justify;
}

.repair-divs button {
    padding: 12px 34px;
    color: black;
    font-size: 17px;
    font-weight: bold;
    background: white;
    border: solid 1px black;
}

.repair-divs p {
    font-size: 17px;
    color: black;
}

.repair-divs h1 {
    font-weight: bold;
}

.repair-divs button:hover {
    background: black;
    color: white;
    transition: 0.4s;
}

/*home serve work*/

#home-serve {
    background: #f7f7f7;
    text-align: center;
    padding: 50px 0px;
}

.home-serve-head h1 {
    font-size: 41px;
    font-weight: bold;
}

.home-serve-head p {
    font-size: 18px;
    margin-bottom: 30px;
}

.home-serve-divs {
    background: #fff;
    height: 345px;
    padding: 26px 20px;
}

.home-serve-divs i {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: darkblue;
    font-size: 40px;
    line-height: 68px;
    text-align: center;
    color: white;
}

.home-serve-divs h2 {
    font-weight: bold;
}

.home-serve-divs p {
    font-size: 18px;
}

/*contact section*/

#contact-section {
    text-align: center;
}

.contact-section-full-div {
    padding: 50px 0px;
}

.contact-section-header h3 {
    font-size: 41px;
    font-weight: bold;
}

.contact-divs i {
    font-size: 72px;
}

.contact-divs p {
    font-size: 18px;
    padding: 20px 0px;
}

/*footer style*/

#footer {
    margin-bottom: 0px;
    background: black;
    color: white;
    padding: 50px 50px;
}

.footer-left p {
    font-size: 14px;
}

.footer-right i {
    float: right;
    font-size: 18px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: solid 2px white;
    border-radius: 50%;
    margin: 0px 10px;
}