h3{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 19px;
}
.section_padding{
    padding: 30px 0px;
}
#footer {
    background: black;
    color: aqua;
    text-align: center;
}
.footer_right {
    text-align: center;
}